.form-inline{
	margin-left:40%;
}
#table{
	margin:0 auto;
	background-color: orange;
	color:black;
	width:80%;

}
.btn{
	background-color: orange;
}

#map{
	width:800px;
	height:300px;
	
}
#pano{
	width:800px;
	height:300px;
}

/*.mapContainer{
	display: flex;
	justify-content: center;
	margin-top:20px;
}
*/